<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | ForDog</title>
    <link rel="shortcut icon" href="/unity/TemplateData/favicon.ico">
    <link rel="stylesheet" href="/unity/TemplateData/style.css">
</head>
<body>
<div id="unity-container" class="unity-desktop">
    <canvas id="unity-canvas" width=1280 height=720 tabindex="-▼▼▼"></canvas>
    <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>
    <div id="unity-warning"> </div>
    <div id="unity-footer">
        <div id="unity-webgl-logo"></div>
        <div id="unity-fullscreen-button"></div>
        <div id="unity-build-title">ForDog</div>
    </div>
</div>

<script>
    // 모니터 사양에따라 비율 설정
    window.devicePixelRatio = 1;

    var container = document.querySelector("#unity-container");
    var canvas = document.querySelector("#unity-canvas");
    var loadingBar = document.querySelector("#unity-loading-bar");
    var progressBarFull = document.querySelector("#unity-progress-bar-full");
    var fullscreenButton = document.querySelector("#unity-fullscreen-button");
    var warningBanner = document.querySelector("#unity-warning");

    function unityShowBanner(msg, type) { /* ... */ }

    var buildUrl = "/unity/dahee/Build";
    var loaderUrl = buildUrl + "/Build.loader.js";
    var config = {
      dataUrl: buildUrl + "/Build.data",
      frameworkUrl: buildUrl + "/Build.framework.js",
      codeUrl: buildUrl + "/Build.wasm",
      streamingAssetsUrl: "StreamingAssets",
      companyName: "DefaultCompany",
      productName: "ForDog",
      productVersion: "1.0",
      showBanner: unityShowBanner,
    };

    loadingBar.style.display = "block";
    var myGameInstance = null;

    var script = document.createElement("script");
    script.src = loaderUrl;
    script.onload = () => {
      createUnityInstance(canvas, config, (progress) => {
        progressBarFull.style.width = 100 * progress + "%";
      }).then((unityInstance) => {
        myGameInstance = unityInstance;
        loadingBar.style.display = "none";
        fullscreenButton.onclick = () => {
          unityInstance.SetFullscreen(1);
        };

        // [유니티 로딩 완료 후 저장해 둔 ID 전송 로직]
        if (loggedInUserId) {
          console.log("페이지 로딩 완료. 유니티로 ID를 보냅니다: " + loggedInUserId);
          myGameInstance.SendMessage("LoginManager", "OnLoginSuccess", loggedInUserId);
        } else {
          console.log("웹페이지에 로그인된 유저 정보가 없습니다. 'testUser'로 진행합니다.");
          myGameInstance.SendMessage("LoginManager", "OnLoginSuccess", "testUser");
        }

      }).catch((message) => {
        alert(message);
      });
    };
    document.body.appendChild(script);

    function closeGamePopup() {
        window.close();
    }
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    const loggedInUserId = /*[[${loggedInUserId}]]*/ null;
    /*]]>*/

    function checkSession() {
        fetch("/metaverse/checkSession")
            .then(res => {
                if (res.status === 401) {
                    window.location.href = "/header/userClosePopup";
                    return;
                }
                return res.json();
            })
            .then(data => {
                console.log("세션 확인:", data);
            });
    }

    setInterval(checkSession, 5000);
</script>
</body>
</html>