<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ForDog Management Quiz</title>
    <link rel="stylesheet" th:href="@{/css/managerMain.css}">
</head>
<body>
<div th:replace="manager/layout/frame :: frame"></div>

<!-- 전체 레이아웃 -->
<div class="layout">
    <!-- 좌측 사이드 -->
    <div th:replace="manager/layout/contentsAside :: asideMenu"></div>

    <!-- 본문 -->
    <div class="content">
        <div class="form-container">
            <h2>퀴즈 등록</h2>
            <form id="form" name="form" method="post" th:object="${mediaQuizDTO}"
                  action="/manager/contents/quiz/chugaProc">
                <div class="vertical-table">
                <table>
                    <tr>
                        <th>미디어그룹</th>
                        <td>
                            <select th:name="mediaGroup.no" required>
                                <option value="">선택하세요</option>
                                <option th:each="mediaGroup : ${list}"
                                        th:value="${mediaGroup.no}"
                                        th:text="${mediaGroup.name}"></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>문제</th>
                        <td><input type="text" name="question" required></td>
                    </tr>
                    <tr>
                        <th>정답</th>
                        <td><input type="text" name="answer" required></td>
                    </tr>
                </table>
                </div>
                <div class="btn-box">
                    <button type="button" onclick="chuga();">등록</button>
                    <button type="button" class="btn-cancel"
                            onclick="location.href='/manager/contents/quiz/list';">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const form = document.getElementById('form');

    function chuga() {
        if (form.checkValidity()) {
            form.submit();
        } else {
            alert('입력되지 않은 정보가 있습니다. 다시 입력해 주세요.');
        }
    }
</script>
</body>
</html>
