body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  width: 1200px;
  padding: 40px 0;
  margin: 0 auto;
  gap: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.container-body {
  flex: 1;
}

.container h1 {
  font-size: 28px;
  margin-bottom: 30px;
  color: var(--highlight);
}

.container h2 {
  color: var(--highlight);
  font-size: 24px;
  margin: 10px 0;
}

.container h3 {
  color: var(--text-dark);
  font-size: 20px;
}

.container hr {
  border: none;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
}

/* 리딩, 미디어 자료 */
.search {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

.search input {
  width: 240px;
  padding: 10px 20px;
  border: 2px solid var(--highlight);
  border-radius: 25px;
  font-size: 12px;
  outline: none;
}

.search button {
  font-size: 14px;
  background-color: var(--highlight);
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.search button:hover {
  background-color: var(--highlight-dark);
}

.list-link {
  background-color: var(--highlight);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.25s ease, transform 0.2s ease;
  margin: 0 10px 10px 0;
}

.list-link:hover {
  background-color: var(--highlight-dark);
}

/* 리딩, 공지사항 view */
.meta {
  font-size: 14px;
  margin-bottom: 10px;
}

.content p {
  margin: 10px 0;
}

/* 리딩, 공지사항 list 테이블 */
.list-table table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
}

.list-table thead tr th {
  text-align: center;
  padding: 12px 0px;
  color: var(--highlight);
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid var(--highlight);
  user-select: none;
}

.list-table tbody tr {
  background-color: #fff;
  border: 1px solid var(--highlight);
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.list-table tbody tr:hover {
  background-color: var(--hover-bg);
}

.list-table tbody tr td {
  padding: 12px 0px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* 이전글/다음글 */
.prenxt-table table {
  margin-top: 10px;
  border-collapse: collapse;
}

.prenxt-table td {
  padding: 4px 10px;
}

.prenxt-table h3 {
  font-size: 16px;
}

.prenxt-link {
  font-size: 16px;
  color: var(--highlight);
}

.prenxt-nolink {
  font-size: 16px;
  color: var(--text-dark);
  text-decoration: none;
}

.prenxt-link:hover {
  color: var(--highlight-dark);
  text-decoration: underline;
}